// repeated rules
/* Add styles for the dummy list */
.list
{
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  padding: 5px;
  font-size: 12px;
  white-space: nowrap;
  ul
  {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
  }
  li
  {
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1000;
    &:hover
    {
      background-color: #f0f0f0;
    }
  }
}

.body
{
  background-color: #FAFAFA;
  transform: translateY(-7px);
  // height: 300px;
  padding-bottom: 20px;
}
.header
{
  .right
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3
  {
    margin-right: 15px;
    font-weight: 500;
    line-height: 14.4px;
    font-size: 12px;
    width: 93px;
    text-wrap: nowrap;
  }
  // border-bottom: solid 0.65px #DADCE2;
  margin: auto;
  padding:
  {
    left: 10px;
    right: 10px;
  }
  background-color: white;
}
hr
{
  height: 0.65px;
  border: none;
  background-color: #DADCE2;
}
.footer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: #FFFFFF;
  transform: translateY(-7px);
  position: relative;
  // z-index: -1;
  border:
  {
    top: #83899F4D solid 0.5px;
  }
  padding:
  {
    top: 20px;
    left: 10px;
    right: 8px;
  }

  button
  {
    border: none;
    font-family: 'Neo Sans Arabic', Inter;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    border: 0.5px solid  #CED3FA;
    transition: 0.3s;
    cursor: pointer;
    p
    {
      font-weight: 400;
      font-size: 9.41px;
    }
  }
  .sign
  {
    background-color: #E0E1F4;
    border-radius: 5px;
    width: 80px;
    color: #9599D8;
    cursor: pointer;
  }

  .add
  {
    background-color: #0771DE;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 97px;
    color: #FFFFFF;
  }

  .arrow-down-button
  {
    width: 40px;
  }
}
.add-buttons
{
  display: flex;
  .icon
  {
    background-color: #0771DE;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 28px;
    color: #FFFFFF;
  }
}
button:hover
{
  transform: scale(1.1);
}

// Buying Process section
.Buying-Process
{
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  padding:
  {
    left: 10px;
    right: 8px;
  }
  .place
  {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    vertical-align: middle;
    width: 355px;
    font-size: 12px;
    font-weight: 500;
    height: 32px;
    border: solid 0.65px #83899F66;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFFFFF;
  }
  .select-places
  {
    transition: 0.2s;
    opacity: 0.8;
    &:hover
    {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}
@media (max-width: 365px) {
  .Buying-Process .place {
    font-size: 7px;
  }
}

// Deal Section
.Deal-section
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 10px;
  height: 100px;
  padding:
  {
    left: 10px;
    right: 8px;
  }
  .right
  {
    background-color: #bdd6ee;
    // width: 230px;
    height: 73px;
    border: dashed 0.5px #0771DE;
    border-radius: 8px;
    .top
    {
      display: flex;
      justify-content: start;
      .icon
      {
        width: 24px;
        height: 24px;
      }
      .info
      {
        display: flex;
        flex-direction: column;
        align-items:  start;
        // height: 131px;
        transform: translateX(-15px) translateY(-5px);
        h4
        {
          font-size: 10px;
          font-weight: 400;
          height: 7;
        }
        span
        {
          font-size: 8px;
          color: #83899F;
          font-weight: 400;
          transform: translateY(-15px);
        }
      }
    }

    .bottom
    {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(135px, 0.9fr));
      justify-content: start;
      .serch-bar
      {
        background-color: #FFFFFFFA;
        // width: 197px;
        height: 22px;
        border: #0771DE solid 0.4px;
        border-radius: 6px;
        transform: translate(-7px, -8px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:
        {
          left: 10px;
          right: 10px;
        }
        .placeholder
        {
          font-size: 7px;
          font-weight: 400;
          color: #83899F;
        }
        .icon
        {
          opacity: 0.7;
          transition: 0.2s;
          &:hover
          {
            cursor: pointer;
            opacity: 1;
            scale: (1.05);
          }
        }
      }
    }
  }
  .left
  {
    background-color: #FFFFFF;
    // width: 270px;
    height: 73px;
    border: solid 0.5px #83899F4D;
    border-radius: 8px;

    .top
    {
      display: flex;
      justify-content: start;
      .icon
      {
        width: 24px;
        height: 24px;
      }
      .info
      {
        display: flex;
        flex-direction: column;
        align-items:  start;
        // height: 131px;
        transform: translateX(-15px) translateY(-5px);
        h4
        {
          font-size: 10px;
          font-weight: 400;
          height: 7;
        }
        span
        {
          font-size: 8px;
          color: #83899F;
          font-weight: 400;
          transform: translateY(-15px);
        }
      }
    }

    .bottom
    {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(135px, 0.9fr));
      justify-content: start;
      input
      {
        font-family: 'Neo Sans Arabic', Inter;
        background-color: #FFFFFFFA;
        // width: 197px;
        height: 22px;
        border: #0771DE solid 0.4px;
        border-radius: 6px;
        transform: translate(-7px, -8px);
        text-align: center;
        padding:
        {
          left: 10px;
          right: 10px;
        }
      }
    }
  }
}

// Progress Suc. section
.progress-suc
{

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border: solid  0.5px #83899F66;
  border-radius: 6px;
  margin: 0px 10px;
  height: 57px;
  padding:
  {
    left: 10px;
    right: 8px;
  }
  .right
  {
    display: flex;
    align-items: center;
    gap: 10px;
    h4
    {
      color: #1C1C28;
      font-size: 10px;
      font-weight: 400;
    }
  }

  .left
  {
    .custom-slider
    {
      width: 106%;
      height: 15px;
      outline: none !important;
      appearance: none;
      border: none;
      border-radius: 30px;
      z-index: 2;
      position: relative;
      z-index: 2;
      transform: rotateZ(4deg) translateX(8px);
      &::-webkit-slider-thumb
      {
        -webkit-appearance: none;
        appearance: none;
        background-color: #0771DE;
        width: 12px;
        height: 12px;
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.3s ease;
        transform: translateY(7px);
      }
    }
    .bar-progress
    {
      background-color: #EBEFF3;
      width: 100%;
      height: 15px;
      transform: translateY(-10px);
      z-index: -1;
      border-radius: 30px;
      // position: relative;
      overflow: hidden;
      // border: #0771DE solid 1px;
      // transform: ;
      // rounded: true;
      .inner-bar
      {
        background-color: #0771DE;
        width: 50%;
        height: 100%;
      }
    }

    .ranges
    {
      color: #83899F;
      font-size: 8px;
      font-weight: 400;
      display: flex;
      gap: 10px;
      flex-direction: row-reverse;
    }
  }
}
@media (max-width: 411px) {
  .progress-suc {
    margin:
    {
      top: 70px;
      right: 10px;
      left: 10px;
    }
  }
}
@media (max-width: 365px) {
  .progress-suc {
    display: none;
  }
}

// Deal Detail Section
.deal-details
{
  display: grid;
  grid-template-columns: 34% 31% 31%;
  gap: 10px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  h4
  {
    font-size: 10px;
    font-weight: 400;
    color: #1C1C28;
    padding:
    {
      // left: 10px;
      right: 4px;
    }
  }
  .box
  {
    position: relative;
    height: 32px;
    background-color: #FFFFFF;
    border: #83899F66 solid 0.5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5px;
    img
    {
      width: 26px;
      height: 26px;
      border-radius: 50%;
    }
    .F-icon
    {
      width: 20px;
      height: 20px;
      margin: 0;
      padding: 0;
      svg
      {
        border-radius: 6px;
      }
    }
    .name
    {
      color: #1C1C28;
      font-size: 11px;
      font-weight: 400;
      // transform: translateX(20px);
    }

    .icon
    {
      opacity: 0.7;
      transition: 0.2s;
      &:hover
      {
        cursor: pointer;
        opacity: 1;
        scale:  1.1;
      }
    }

    .list-admins
    {
      position: absolute;
      bottom: -70px;
      z-index: 999;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      max-height: 200px;
      overflow-y: auto;
      padding: 5px;
      font-size: 12px;
      white-space: nowrap;
      ul
      {
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 999;
      }
      li
      {
        padding: 5px 10px;
        cursor: pointer;
        display: flex;
        gap: 3px;
        // justify-content: space-between;
        align-items: center;
        &:hover
        {
          background-color: #f0f0f0;
        }
        img
        {
          width: 26px;
          height: 26px;
          border-radius: 50%;
        }
      }
    }
  }
}
@media (max-width: 411px) {
  .deal-details {
    gap: 5px;
  }
  .deal-details .box .name
  {
    font-size: 7.6px;
  }
}
@media (max-width: 365px) {
  .deal-details {
    margin-top: 60px;
  }
}

// Chips Section
.chips
{
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  h4
  {
    color: #1C1C28;
    font-size: 10px;
    font-weight: 400;
  }
  .p-chips
  {
    height: 32px;
    vertical-align: middle;
    .chip
    {
      font-family:'Neo Sans Arabic', Inter ;
      font-size: 10px;
      font-weight: 400;
    }
  }

  ::ng-deep .p-chips-input-token
  {
    padding: 0;
    font-family:'Neo Sans Arabic', Inter ;
    font-size: 10px;
    font-weight: 400;
  }
  ::ng-deep .p-chips-token
  {
   padding: 2px 5px;
   height: 19px;
   display: flex;
   align-items: center;
   gap: 10px;
   border-radius: 6px;
  }

  /* Customize the styling of the remove button */
  ::ng-deep .p-chips-token-icon {
    color: red; /* Change the color of the remove button */
    // margin-right: 10px;
    &:hover, &:active {
      background-color: transparent !important;
      opacity: 1; /* Increase the opacity when hovered or active */
    }
  }

  .chips-container {
    display: flex;
    align-items: center;
    z-index: 999;
  }
}

// products section
.products
{
  display: flex;
  flex-direction: column;
  border: 0.5px solid  #83899F66;
  border-radius: 5px;
  background-color: #FFFFFF;
  .title
  {
    display: flex;
    // flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 32px;
    border-bottom: 0.5px solid  #83899F66;
    border-radius: 5px;
    padding:
    {
      right: 10px;
      left: 10px;
    }
    h4
    {
      font-size: 12px;
      font-weight: 400;
      color: #1C1C28;
    }
  }
  margin:
  {
    top: 20px;
    left: 10px;
    right: 10px;
  }

  .block
  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    .product
    {
      display: flex;
      flex-direction:column;
      justify-content: center;
      gap: 6px;
      h4
      {
        font-size: 10px;
        font-weight: 500;
        color: #1C1C28;
        margin: 0;
      }
      p
      {
        font-size: 8px;
        font-weight: 400;
        color: #83899F;
        margin: 0;
      }
    }
  }
}

// Additiona info section
.additional-info
{
  display: flex;
  align-items: center;
  height: 32px;
  border: 0.5px solid  #83899F66;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin:
  {
    top: 20px;
    left: 10px;
    right: 10px;
  }
  padding:
  {
    right: 10px;
    left: 10px;
  }

  h4
  {
    font-size: 12px;
    font-weight: 400;
    color: #1C1C28;
    margin: 0;
  }
}
